.about {
  margin-top: 25px;
  .trucks {
    width: 100%;
  }
  .info {
    margin-bottom: 25px;
    .info-title {
      font-family: var(--font-bold);
      font-size: 35px;
      font-weight: 700;
    }
    .info-desc {
      margin-top: 25px;
      font-family: var(--font-bold);
      font-size: 28px;
    }
  }
  .line {
    margin-top: 25px;
    background-color: var(--blue);
    color: var(--light);
    font-family: var(--font-bold);
    font-size: 38px;
    padding: 25px 0;

    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      p {
        font-size: 22px;
        min-width: fit-content;
        &:nth-child(3) {
          margin: 0 auto;
          display: block;
          margin-top: 10px;
        }
      }
    }
  }
  .logo {
    width: 250px;
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .about-title {
    font-family: var(--font-bold);
    font-size: 64px;
    text-align: center;
    color: rgb(15, 14, 14);
  }
  .bg {
    margin-top: 45px;
    width: 100%;
  }
  .blocks-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    .item {
      display: flex;
      align-items: center;
      font-size: 30px;
      gap: 25px;
      font-weight: 700;
      text-transform: uppercase;
      font-family: var(--font-bold);
      .price {
        font-size: 45px;
      }
      img {
        width: 40px;
      }
    }
    .right {
      .item {
        font-size: 48px;
        img {
          width: 100px;
        }
      }
    }
  }
  .section-title {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 1400px) {
  .about .blocks-wrapper {
    gap: 30px;
  }
  .about .blocks-wrapper .right .item {
    font-size: 28px;
  }
  .about .blocks-wrapper .right .item img {
    width: 40px;
  }
  .about .blocks-wrapper .item .price {
    font-size: 25px;
  }
  .about .blocks-wrapper .item {
    font-size: 30px;
  }
  .about .line .container {
    justify-content: center;
    text-align: center;
    p {
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 900px) {
  .about .blocks-wrapper {
    gap: 0;
    display: flex;
    flex-direction: column;
  }

  .about .blocks-wrapper .right {
    margin-top: 15px;
  }

  .about .blocks-wrapper .right .item {
    font-size: 25px;
  }
}

@media screen and (max-width: 600px) {
  .about .blocks-wrapper .item {
    font-size: 20px;
  }
  .about .blocks-wrapper .item {
    gap: 10px;
    img {
      width: 30px;
    }
  }
  .about .info .info-title {
    font-size: 25px;
  }
  .about .info .info-desc {
    font-size: 18px;
  }
}
@media screen and (max-width: 330px) {
  .about .blocks-wrapper .right .item {
    font-size: 20px;
  }
}
