.gallery {
  padding-top: 50px;
  position: relative;
  &__title {
    margin-top: 25px;
    font-weight: 500;
    font-family: var(--font-bold);
    font-size: 64px;
    color: var(--black);
  }
  .slider-btns-wrapper {
    display: flex;
    gap: 25px;
    .slider-btn {
      cursor: pointer;
      height: 75px;
      width: 75px;
      background-color: var(--blue);
      border-radius: 50%;
      border: none;
    }
  }

  &__inner {
    margin-top: 25px;
    .slide {
      width: 100%;
      height: 560px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .bottom {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-top: 25px;
    .bar {
      width: 100%;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.3);
      .bar-progress {
        width: 25%;
        transition: width 0.5s ease;
        background-color: var(--blue);
        height: 1px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .gallery__inner .slide {
    height: 400px;
  }
  .gallery .bottom .bar {
    display: none;
  }
  .gallery__title {
    font-size: 41px;
  }
}
@media screen and (max-width: 600px) {
  .gallery__inner .slide {
    height: 300px;
  }
}
@media screen and (max-width: 400px) {
  .gallery__inner .slide {
    height: 250px;
  }
}
