.gminy {
  &__title {
    margin-top: 25px;
    font-weight: 500;
    font-family: var(--font-bold);
    font-size: 64px;
    color: var(--dark);
  }
  .gminy-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 25px;
    margin-top: 45px;
    .gmina {
      &__inner {
        height: 225px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--bg);
      }
      &__name {
        margin-top: 0;
        text-align: center;
        font-size: 45px;
        color: var(--dark);
        font-family: var(--font-bold);
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .gminy {
    padding-top: 25px;
  }
  .gminy__title {
    font-size: 41px;
  }
  .gminy .gminy-wrapper .gmina__name {
    font-size: 28px;
  }
}
@media screen and (max-width: 600px) {
  .gminy-wrapper {
    margin-top: 0 !important;
  }
  .gminy__title {
    font-size: 41px;
  }
}
