.offers {
  padding-top: 250px;
  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 60px;
    .left {
      grid-column: 1/3;
    }
  }
  &__title {
    margin-top: 25px;
    font-weight: 500;
    font-size: var(--font-xl);
    color: var(--blue);
  }
  .offers-list {
    font-size: var(--font-md);
    color: var(--dark);
    margin-top: 25px;
    line-height: 150%;
  }
  .image {
    position: absolute;
    right: 0;
    width: 30%;
    z-index: -2;
  }
  .btn {
    margin-top: 45px;
  }
}
