@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

html {
  scroll-behavior: smooth;
}
body {
  background-color: #fafafa;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  --font: "Inter", sans-serif;
  --dark: #171716;
  --grey: rgba(0, 0, 0, 0.6);
  --black: #171716;
  --blue: #ff0000;
  --light: #fafafa;
  --light-border: #cfdbe3;
  --bg: #f2f5f8;
  --font-sm: 20px;
  --font-md: 28px;
  --font-xl: 44px;
  --font-xxl: 96px;
  color: var(--dark);
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.section-header {
  display: flex;
  align-items: center;
  gap: 10px;
  &__line {
    height: 1px;
    width: 45px;
    background-color: var(--blue);
  }
  &__name {
    font-size: 21px;
    color: var(--dark);
  }
}
a {
  color: inherit;
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.section-btn {
  font-weight: 500;
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-size: 18px;
  background-color: transparent;
  border: none;
  border: 1px solid var(--blue);
  color: var(--blue);
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 25px 50px;
  cursor: pointer;
  transition: background 0.2s linear, border 0.2s linear, color 0.2s linear;
  position: relative;
  &:hover {
    color: var(--light);
    border: 1px solid var(--blue);
  }

  &::before {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--blue);
    z-index: -2;
    transition: top 0.4s ease;
  }
  &:hover::before {
    top: 0%;
  }

  &:hover .arrow path {
    fill: var(--light);
  }
  .arrow {
    width: 20px;
    height: 20px;
    path {
      transition: fill 0.2s linear;
      fill: var(--blue);
    }
  }
}

.slick-dots {
  display: none !important;
}

// Gsap line animations
.line {
  overflow: hidden;
}

//form status
.status {
  padding: 50px;
  position: fixed;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 10px 45px -18px rgba(0, 0, 0, 0.3);
  bottom: 50px;
  right: 50px;
  display: flex;
  align-items: center;
  gap: 15px;
  transition: opacity 0.8s linear;
  opacity: 0;
  pointer-events: none;
  h2 {
    width: 250px;
    line-height: 150%;
    font-size: var(--font-sm);
    font-weight: 500;
  }
}

.section-title {
  margin-top: 25px;
  font-weight: 500;
  font-family: var(--font-bold);
  font-size: 64px;
  color: var(--black);
}

@media screen and (max-width: 1400px) {
  .container {
    max-width: 1000px;
  }
}

@media screen and (max-width: 900px) {
  .section-title {
    font-size: 41px;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    max-width: 95%;
  }
}
@media screen and (max-width: 600px) {
  .status {
    padding: 25px;
    right: 15px;
    bottom: 15px;
    h2 {
      font-size: 16px;
      width: fit-content;
    }
  }
}
