.purpose {
  margin-top: -100px;
  background-color: var(--bg);
  padding: 200px 0 0 0;
  position: relative;
  z-index: -2;
  .pattern-dots {
    position: absolute;
    top: 500px;
    z-index: 2;
  }
  &__title {
    margin-top: 25px;
    font-weight: 500;
    font-size: var(--font-xl);
    color: var(--blue);
  }
  .bottom {
    display: flex;
    gap: 60px;

    .image {
      background-image: url("../images/purpose-img.png");
      background-size: cover;
      height: 700px;
      width: 100%;
      transform: translateY(100px);
    }
    .box {
      width: 100%;
      position: relative;
    }
    .purpose-list {
      margin-top: 150px;
      width: 50%;
      border-top: 1px solid var(--light-border);
      list-style: none;
      &__item {
        border-bottom: 1px solid var(--light-border);
        padding: 30px 0;
        font-size: var(--font-md);
        color: var(--blue);
      }
    }
  }
}
